[Unit]
Description=Run IPMI Power Exporter every minute
Requires=ipmi-power-exporter.service

[Timer]
OnCalendar=*:*:00
Persistent=true

[Install]
WantedBy=timers.target
